@import './base.css';

#app {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


.btn {
  background-color: greenyellow;
  padding: 1.1rem;  
  border: none;
  border-radius: 0.5rem;
  font-family: monospace;
}

.btn:hover {
  background-color: green;
}

.btn:active {
  background-color: darkgreen;
}

.btn-delete {
  background-color: red;
}

.btn-delete:hover {
  background-color: darkred;
}

.btn-delete:active {
  background-color: rgb(95, 1, 1);
}



.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-fill {
  flex: 1;
}

.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid red;
}

